$text1: 20px;




#one {
	padding:100px;


	.one {
		text-align: center;

		h2 {
		  font-size: text1;
		  font-family: 'Monoton', cursive;
		}

		h4 {
		   font-size: text1;
		   font-family: 'Baloo Tammudu', cursive;
		}

		p{
			font-size: 15px;
			font-family: 'Lobster', cursive;
		}
		.btn {
		font-family: 'Shadows Into Light', cursive;
		}
	}
	#imgone {
		border-radius: 50%;
		padding-top:20px;
	}
}

#two {
	padding:100px;

	


	.one {
		text-align: center;

		h2 {
		  font-size: text1;
		  font-family: 'Monoton', cursive;
		}

		h4 {
		   font-size: text1;
		   font-family: 'Baloo Tammudu', cursive;
		}

		p{
			font-size: 15px;
			font-family: 'Lobster', cursive;
		}

		.btn {
		font-family: 'Shadows Into Light', cursive;
		}
	}
	#imgtwo {
		border-radius: 50%;
		padding-bottom: 20px;
	}
}

#three {
	padding:100px;


	.one {
		text-align: center;

		h2 {
		  font-size: text1;
		  font-family: 'Monoton', cursive;
		}

		h4 {
		   font-size: text1;
		   font-family: 'Baloo Tammudu', cursive;
		}

		p{
			font-size: 15px;
			font-family: 'Lobster', cursive;
		}
		.btn {
		font-family: 'Shadows Into Light', cursive;
		}
	}
	#imgthree {
		border-radius: 50%;
		padding-top: 20px;
	}
}

#four {
	padding:100px;


	

	.one {
		text-align: center;

		h2 {
		  font-size: text1;
		  font-family: 'Monoton', cursive;
		}

		h4 {
		   font-size: text1;
		   font-family: 'Baloo Tammudu', cursive;
		}

		p{
			font-size: 15px;
			font-family: 'Lobster', cursive;
		}

		.btn {
		font-family: 'Shadows Into Light', cursive;
		}
	}
	#imgfour {
		border-radius: 50%;
		padding-bottom: 20px;
	}
}

 